html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

:root {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@font-face {
  font-family: "Varela Round";
  src: url(fonts/VarelaRound-Regular.ttf);
}

body {
  font-family: "Varela Round", sans-serif;

  background: linear-gradient(to right, #ffaf7b, #d76d77, #3a1c71);
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.grid-container {
  margin: 40px auto 0px;
  border: 2px solid black;
  width: 454px;
  height: 454px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background: linear-gradient(to right, #a1ffce, #faffd1);
  box-shadow: var(--box-shadow);

  .cell {
    width: 150px;
    height: 150px;
    border: 1px solid darkgreen;
    cursor: pointer;

    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: linear-gradient(to right, #a4b61f8f, #bafad9);
    }
  }
}

#resetBtn {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 40px auto 0px;

  display: grid;
  grid-template-columns: 40px 90px;
  place-items: end start;

  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;

  color: #264653;
  background: linear-gradient(to right, #43c6ac, #f8ffae);
  box-shadow: var(--box-shadow);

  & img {
    width: 40px;
    height: 40px;
    filter: invert(21%) sepia(60%) saturate(362%) hue-rotate(152deg)
      brightness(96%) contrast(92%);
  }

  &:hover {
    filter: brightness(80%);
  }
}

dialog {
  max-height: fit-content;
  padding: 20px 60px;
  margin: 100px auto 0;

  background: linear-gradient(to right, #fbd3e9, #bb377d);
  color: #6a040f;
  box-shadow: var(--box-shadow);
  border: 4px solid black;
  border-radius: 10px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .resultMess {
    font-size: 3.5rem;
    margin-bottom: 40px;
  }

  #restartBtn {
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    color: #3c096c;

    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    margin: auto;

    display: grid;
    grid-template-columns: 50px 1fr;
    place-items: center;

    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;

    & img {
      width: 50px;
      height: 50px;
      filter: invert(19%) sepia(97%) saturate(7465%) hue-rotate(273deg)
        brightness(43%) contrast(101%);
    }
  }
}
