html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

:root {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@font-face {
  font-family: "Varela Round";
  src: url(fonts/VarelaRound-Regular.ttf);
}

body {
  font-family: "Varela Round", sans-serif;

  background: linear-gradient(to right, #ffaf7b, #d76d77, #3a1c71);
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.grid-container {
  margin: 40px auto 0px;
  border: 2px solid black;
  width: 454px;
  height: 454px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background: linear-gradient(to right, #a1ffce, #faffd1);
  box-shadow: var(--box-shadow);

  .cell {
    width: 150px;
    height: 150px;
    border: 1px solid darkgreen;
    cursor: pointer;

    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: linear-gradient(to right, #a4b61f8f, #bafad9);
    }
  }
}

#resetBtn {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 40px auto 0px;

  display: grid;
  grid-template-columns: 40px 90px;
  place-items: end start;

  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;

  color: #264653;
  background: linear-gradient(to right, #43c6ac, #f8ffae);
  box-shadow: var(--box-shadow);

  & img {
    width: 40px;
    height: 40px;
    filter: invert(21%) sepia(60%) saturate(362%) hue-rotate(152deg)
      brightness(96%) contrast(92%);
  }

  &:hover {
    filter: brightness(80%);
  }
}
